.navbar {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
}

    .nav-link:hover {
        background-color: #626262;
    }

.btn {
    background: #0EF388;
    width: 120px;
    height: 60px;
    margin: 5px;
}

input[type="submit"] {
    color: red;
    padding: 10px 15px;
    color: black;
    border: none;
}

    input[type="submit"]:hover {
        background: #8BFFE1;
    }

.edit {
    color: black;
    background: #C9FFF1;
    padding: 9px 15px;
    text-decoration: none;
}

    .edit:hover {
        background: #8BFFE1;
    }

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.wrap * {
    width: 350px;
    margin-bottom: 1rem;
    font-size:18px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
