@using BLL.DTO;
@model List<StudentDTO>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Главная</title>
	<link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
	@Html.Partial("~/Views/nav.cshtml")
	<h2>Студенты:</h2>
	<div class="wrap">
	<table>
		<thead>
			<tr>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Отчество</th>
			</tr>
		</thead>
		<tbody>
			@{
				foreach (StudentDTO s in Model) {
					<tr>
						<td>@s.Surname</td>
						<td>@s.Name</td>
						<td>@s.Patronymic</td>
						<td>
							<a class="edit" href="/Student/Edit?id=@s.Id">Изменить</a>
							<form action="/Student/Delete?id=@s.Id" method="POST" style="display:inline;">
								<input type="submit" value="Удалить" />
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
	</div>
</body>
</html>
